<!DOCTYPE html>
<html>

<head>
    <title>Inside Group Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/insideGroups.css">
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
</head>

<body>
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">My <b style="color: darkblue;">K</b>udu <b style="color: darkblue;">B</b>uddy</div>
        <div class="search_box">
            <input type="search" placeholder="Search here">
            <span class="fa fa-search"></span>
        </div>
        <ol>
            <li><a href="#">home</a></li>
            <li><a href="#">profile</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">about</a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    <section></section>
    <div class="nav_bar">
        <ul>
            <li><a href="insidegroups.html">Chats</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="files.html">Files</a></li>
            <li><a href="classNotes.html" id="onlink">Notes</a></li>
            <li><a href="poll.html">Polls</a></li>
        </ul>
    </div>
    <div class="main_container">
        <!-- Send COVID screening tool form -->
        <form action="/CovidScreening" method="get" target="_blank">
            <button type="submit">Send Face-to-Face Meeting Invite</button>
        </form>
        <!-- Send Online Meeting Invite -->
        <button class="meetingBtn">Send Online Meeting Invite</button>
    </div>
    <script type="text/javascript" src="../src/meetings.js"></script>
    <!--Pop-up Modal Section -->
    <div class="backgroundModal">
        <div class="modal-content">
            <div class="close">+</div>
            <h2> Send link for online meeting </h2>
            <label for="email">Email: </label>
            <input type="text" name="email">
            <label for="meetingLink">Meeting Link: </label>
            <input type="text" name="meetingLink">
            <button>Send Invite </button>
        </div>
    </div>
    <script type="text/javascript" src="../src/covidForm.js"></script>
</body>