<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Homepage</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../public/home.css">
    </head>
        <body>
            <h1>Welcome to my Kudu Buddy</h1>
            <div class="container">
                <div class="box">
                    <div class="info">
                    <h2>Create A Study Group</h2>
                    <p>Let's make new friends and study with them</p>
                    <a href="/creategroup" class="btn">Click Me</a>
                    </div>
                </div>
                <div class="box">
                    <div class="info">
                        <h2>View Your Profile</h2>
                        <p>See your study groups, friends and status</p>
                        <a href="/profile" class="btn">Click Me</a>
                    </div>
                </div>
                <div class="box">
                    <div class="info">
                        <h2>View Your Kudu Groups</h2>
                        <p>See your teams, Chat with them and Enjoy the platform</p>
                        <a href="/group" class="btn">Click Me</a>
                    </div>
                </div>
                <div class="box">
                    <div class="info">
                        <h2>Send an Invite</h2>
                        <p>Generate links or code to send to students to join the kudu fun</p>
                        <a href="/sendInvite" class="btn">Click Me</a>
                    </div>
                </div>
            </div>
        <form class="myFormClass" action="/logout?_method=DELETE" method="POST">
            <div class="LogoutBtn">
            <button type="submit">Log Out</button>
            </div>
        </form>
        </body>
</html>
